.scrolled-list {
  max-height: 20rem;
  overflow-y: auto;
  list-style: none;
  padding-left: 0;
  width: calc(100% + 2rem);

  &__wrapper {
    width: 100%;
    overflow-x: hidden;
    border: 1px solid $primary;
    padding: 1rem;
    border-radius: 9px;
  }

  &__search {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid $primary;
    border-radius: 2rem;
    outline: none;
    margin-bottom: 1rem;
  }
}
