# Theme ignore from https://github.com/roots/sage/blob/master/.gitignore

/site/web/app/themes/custom_sage/.cache-loader 
/site/web/app/themes/custom_sage/dist
/site/web/app/themes/custom_sage/node_modules
/site/web/app/themes/custom_sage/npm-debug.log
/site/web/app/themes/custom_sage/yarn-error.log
/site/web/app/themes/custom_sage/vendor
/site/web/app/themes/custom_sage/resources/assets/config-local.json

# Ignore project files

# Bedrock ignore from https://github.com/roots/bedrock/blob/master/.gitignore

# Application
/site/web/app/plugins/*
/site/!web/app/plugins/.gitkeep
/site/web/app/mu-plugins/*/
/site/web/app/upgrade
/site/web/app/uploads/*
/site/!web/app/uploads/.gitkeep

# WordPress
/site/web/wp
/site/web/.htaccess

# Dotenv
/site/.env
/site/.env.*
/site/!.env.example

# Composer
/site/vendor

# tmp directory
/site/web/app/themes/custom_sage/tmp/*
